<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--Quartz-->
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <quartz>
    <add key="quartz.jobStore.type" value="QuartzRedisJobStore.JobStore.RedisJobStore,QuartzRedisJobStore.JobStore" />
    <add key="quartz.jobStore.redisConfiguration" value="127.0.0.1:6379,allowAdmin=true,syncTimeout=5000" />
    <add key="quartz.jobStore.keyPrefix" value="UnitTest1" />
    <add key="quartz.scheduler.instanceId" value="UnitTestInstanceId" />
  </quartz>
  <appSettings>
    <add key="RedisConfiguration" value="127.0.0.1:6379,allowAdmin=true,syncTimeout=5000"/>
  </appSettings>
</configuration>